/* all links olive:  */
a:link {
  color: #000
  }

a:visited {
  color: #000;
  }

a:hover {
  color: #000;
  }

a:active {
  color: #000;
  }
/* all links olive:  */
mark {
  background-color:#000;
  color: #ffffff;
  }
